@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body.night-mode {
  background-color: #383838;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body.day-mode {
  background-color: #f0f0f0;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.key {
  border: 1px solid #999999;
  background-color: #2b2b2b;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
  min-width: 150px;
  color: white;
  position: relative;
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #c4c4c4;
  font-size: 14px;
}

.name {
  position: absolute;
  top: 50px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

/* Toggle Switch Stilleri */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#toggleTheme {
  margin-left: 8px;
}
.tutorial-button {
  cursor: pointer;
  margin: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
}

.tutorial-button:hover {
  background-color: #45a049;
}

.tutorial-content {
  text-align: left;
  margin: 20px;
}

.key-info {
  display: none;
}
